.loader {


    width: 200px;
    height: 200px;
    background: white;

}

.All {


    margin-top: 200px;
    margin-bottom: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}