.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70px;
  border-radius: 4px;
  background: #fefffe;
  margin-top: 16px;
  margin-right: 40px;
  margin-left: 5px;
}

.pic {
  width: 60px;
  height: 60px;
  background: #f6f6f6;
  border-radius: 50%;
  object-fit: contain;
}

.text {

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212121;
  width: 50px;
}
