.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 180px;
  border-radius: 4px;
  background: #fefffe;
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 50px;
}

.pic {
  height: 120px;
  width: 120px;
  background: #f6f6f6;
  border-radius: 50%;
  object-fit: contain;
}

.text {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.005em;
  color: rgba(33, 33, 33, 0.8);
}
