.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  border-radius: 4px;
  padding: 8px 10px;
  margin-right: 10px;
  height: auto;
   
}

