
.link {
    text-decoration: none;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    /* text-align: center; */
    margin-right: 10px;
    margin-bottom: 15px;
    background: #f6f6f6;
    border-radius: 4px;
    color: black;
    /* margin-top: 20px; */


}

  