.shopping_history {
    margin-left: 4%;

}

.title {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #212121;
}

.date_info {
    display: flex;
    justify-content: space-between;
}

.info {
    margin-top: 60px;
    margin-right: 15%;
    min-height: 100px;
}

@media only screen and (max-width: 500px) {

    .title {
        display: block;
        margin-left: 15px;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: -50px;
    }

    .info {
        margin-top: 0px;
        margin-right: 8%;

    }

}
@media only screen and (max-width: 1371px) {
    .date_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        margin-right: 0;
    }

    .title {
        justify-content: center;
    }
}

@media only screen and (max-width: 1000px) {
    .title {
        justify-content: center;
    }

    .date_info {
        justify-content: center;
        font-family: sans-serif;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .info {
        margin-top: 100px !important;
        margin-bottom: 50px;
        margin-left: 0px !important;
    }

    .shopping_history {
        margin-left: 0;
    }

    .date {
        display: none;
    }
}
